input, textarea, select {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  padding: 2px 7px;
  font-size: 10px;

  &:focus {
    border-color: rgba(0, 0, 0, 0.55);
  }
}

.bc{
  &-form-control {
    padding: 8px;
    font-size: 12px;
  }
  &-form-control-color {
    width: 2.5rem;
    height: 2rem;
    padding: 2px;
  }
  &-input-label-widget{
    display: flex;
    input{
      width: 60px;
      border-radius: 4px 0 0 4px;
      border-color: #ccc;
    }
    span{
      background : #ccc;
      padding: 6px 12px;
      border-radius: 0 4px 4px 0;
    }
  }
}


.has-background-image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}


/*START CUSTOM CHECKBOX DESIGN*/
.bc-checkbox {
  appearance         : none;
  -webkit-appearance : none;
  width              : 20px;
  height             : 20px;
  border             : 2px solid #999;
  border-radius      : 4px;
  cursor             : pointer;
  position           : relative;
  outline            : none;
  transition         : all 0.2s ease;
}

.bc-checkbox:checked {
  //border-color: #4caf50;
}

.bc-checkbox:checked::after {
  content     : '\2713';
  position    : absolute;
  top         : -4px;
  left        : 2px;
  font-size   : 16px;
  font-weight : bold;
  //color: #4caf50;
}

/*END CUSTOM CHECKBOX DESIGN*/