@import "./icons/icomoon";
// Import variables and mixins first
@import './variables/colors';
@import './mixins/utilities';
@import "./mixins/reset";

// Import layouts
@import './components/button';
@import './components/sidebar';
@import './components/preview';
@import "./components/controls";
@import "./components/slider-toggle";

// Import layout
@import './layout/builder';

body {
  overflow: hidden;
  height: 100%;
}


.tiptap {
  padding: 15px;

  outline: none;

  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  p.is-empty::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}